* {
  transition: background.2s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 18px;
}

.theme {
  transition: background.2s ease;
  color: #fff;
  background-color: #000;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: center;
}

header nav {
  z-index: 10;
  position: fixed;
}

header nav ul {
  box-shadow: 2px 2px 15px 1px #333;
  margin: 15px 0;
  border-radius: 25px;
  background-color: black;
  list-style-type: none;
  display: flex;
}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

header nav ul li:hover {
  background-color: azure;
}

header nav ul li:first-child:hover {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

header nav ul li:last-child:hover {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

header nav ul li:hover a {
  color: #333;
}

header nav ul li a {
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
}

section .wrapper #hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#secondItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b8b8b;
}
