* {
  user-select: none;
  transition: all.2s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 18px;
}

.theme {
  transition: all.2s ease;
  color: #fff;
  background-color: #000;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: center;
}

header nav {
  z-index: 10;
  position: fixed;
}

header nav ul {
  box-shadow: 2px 2px 15px 1px #333;
  margin: 15px 0;
  border-radius: 25px;
  background-color: black;
  list-style-type: none;
  display: flex;
}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

header nav ul li:hover {
  background-color: azure;
}

header nav ul li:first-child:hover {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

header nav ul li:last-child:hover {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

header nav ul li:hover a {
  color: #333;
}

header nav ul li a {
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
}

section .wrapper #hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#secondItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b4b1b1;
}

#thirdItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url('bcg.jpg');
  position: relative;
  z-index: 0;
}

#thirdItem .blur:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('bcg.jpg');
  filter: blur(30px);
  z-index: -1;
}

#fourthdItem {
  display: flex;
}

#fourthdItem .text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  padding: 0 50px;
  background-color: sandybrown;
}

#fourthdItem .img-block {
  width: 50%;
  height: 100vh;
  background: url('https://media.sproutsocial.com/uploads/3a_facebook-cover-photo_labels@2x-1.png');
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    min-height: auto;
  }

  h1 {
    font-size: 28px;
  }

  header nav ul li {
    font-size: 1em;
  }

  header nav ul li a {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
  }

  section .wrapper #hero h1,
  p {
    text-align: center;
  }

  #hero-img {
    display: none;
  }

  #firstItem {
    padding: 10px 15px;
  }

  #secondItem {
    padding: 10px 15px;
    height: auto;
  }

  #thirdItem {
    padding: 10px 15px;
    height: auto;
  }

  #fourthdItem {
    display: flex;
    flex-direction: column;
  }

  #fourthdItem .text-block {
    width: 100%;
    min-height: 100vh;
  }

  #fourthdItem .img-block {
    width: 100%;
  }
}
